<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589102436518-ogj30vgnjoi7h1nf2e6ep75232ut3bu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589102436518-ogj30vgnjoi7h1nf2e6ep75232ut3bu6</string>
	<key>API_KEY</key>
	<string>AIzaSyDlwj_zaW7Bs5JGefOklOD4qnzMOWnaUj8</string>
	<key>GCM_SENDER_ID</key>
	<string>589102436518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcesarmobile.firebase.analytics</string>
	<key>PROJECT_ID</key>
	<string>capacitor-firebase-analy-7b5d6</string>
	<key>STORAGE_BUCKET</key>
	<string>capacitor-firebase-analy-7b5d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589102436518:ios:71b6d24cbe7a9ca1eca467</string>
</dict>
</plist>
